.mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mapa .standard {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-right: 10%;
}

.mapa iframe {
    justify-self: end;
    margin: 7%;
    border: dashed 1px gray;
}