* {
    box-sizing: border-box; /*skontaj sta je ovo*/
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*STANDARDNI TEKST*/

.standard {
    background-color: rgb(241, 241, 241);
    font-size: large;
    line-height: 1.8;
    color: gray;
    margin: 0;
}

/*BOJA STRANICA*/

.stranica-boja {
    background-color: rgb(241, 241, 241);
}
/*NASLOVI*/

.naslov {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

/*DUGME*/

.dugme {
    margin-bottom: 40px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 6px;
    color: rgb(165, 165, 165);
    /*background-color: rgb(165, 165, 165);*/
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.dugme a {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
}

.dugme:hover {
    background-color: rgb(249, 191, 116);
    border:2px solid rgb(249, 191, 116);
    color: white;
}

/*smooth slanje na stisak dugmeta*/

html {
    scroll-behavior: smooth;
}