* {
    box-sizing: border-box; /*skontaj sta je ovo*/
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*NAVIGACIJA*/

.navigacija {
    background-color: rgb(241, 241, 241);
    justify-content: center;
    align-items: center;
    height: 30px;
    display: flex;
}

.navigacija ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 0;
    list-style: none;
}

.navigacija li {
    width: 20%;
}

.navigacija a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 0.3s;
    font-size: 18px;
    height: 100%;
}

.navigacija a:hover {
    background-color: #dcdcdc;
}

/*UVODNA SLIKA*/

.uvodna {
    width: 100vw;
    height: 100vh;
    background-image: url('images/uvodna2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*UVODNI TEKST*/

.tekst-uvod {
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-size: large;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.8;
    color: gray;
}